.pag {
	margin-top: 0.5rem;
	display: flex;
	justify-content: flex-end;

	&__prev {
		margin-right: 0.5rem;
		width: 3rem;
		height: 3rem;
		background-color: #282828;
		border-radius: 50%;
		justify-content: center;
		align-items: center;

		border: none;

		&-icon {
			font-size: 1.5rem;
			color: white;
			margin-right: 0.3rem;
			margin-top: -0.2rem;
		}
	}

	&__next {
		width: 3rem;
		height: 3rem;
		background-color: #282828;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		right: 30px;
		border: none;

		&-icon {
			font-size: 1.5rem;
			color: white;
			margin-right: -0.3rem;
			margin-top: -0.2rem;
			transform: scaleX(-1);
		}
	}
}
