@import 'assets/utils';
.recently {
	&__heading {
		text-align: start;
		padding: 0 0 0 0.5rem;
		text-transform: capitalize;
		color: white;
		font-size: rem-calc(24);

		font-weight: 600;
		line-height: 1rem;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(5, 19%);
		column-gap: 1rem;
	}
}
