.title-recently {
	text-align: start;
	padding: 0.5rem 0 0.5rem 0.5rem;
	text-transform: capitalize;
	color: white;
	font-size: 1.6rem;
	letter-spacing: 0.3rem;
	font-weight: 600;
	line-height: 1rem;
}

.recently {
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;

	&__card {
		padding: 0.5rem;
		min-height: 277px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;
		background: linear-gradient(to top, lighten(#000000, 6%), #3d3d3d);
		box-shadow: 6px 7px 21px 0px rgba(0, 0, 0, 0.75);
		border: 1px solid darken(gray, 41%);
		border-radius: 10px;

		&:hover {
			cursor: pointer;
			opacity: 50%;
		}
	}

	&__image {
		width: 10rem;
		display: block;
		margin: 0 auto;
		border-radius: 10px;
	}

	&__title {
		width: 8rem;
		color: white;
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}

	&__type {
		text-align: center;
		font-size: 0.8rem;
		margin: 0.3rem 0;
		color: white;
		position: absolute;
		bottom: 0;
		left: 1;
		text-transform: capitalize;
	}
}
