@import 'assets/utils';
.recently {
	width: 100%;
	height: min-content;
	display: flex;
	flex-direction: column;
	height: 25rem;
	position: relative;
	&__heading {
		text-align: start;
		text-transform: capitalize;
		color: white;
		font-size: rem-calc(24);
		font-weight: 600;
		line-height: 1rem;
	}
	&__grid {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		height: 18rem;
	}
}
