@import 'assets/utils';
.artist-container {
	&__search {
		margin-top: 1rem;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(5, 18.5%);
		column-gap: 1.2rem;
		row-gap: 1.2rem;
	}
}

.artist__result {
	color: white;
	margin-left: 1rem;
}
