@import 'assets/utils';
.artist-container {
	height: 100%;
	&__search {
		margin-top: 1rem;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
}

.artist__result {
	color: white;
	margin-left: 1rem;
}
