@import 'assets/utils';
%description {
	font-size: 0.8rem;
	color: white;
	text-transform: capitalize;
}

.wrapper-card {
	padding: 0.3rem;
	flex-basis: 20%;
	height: 100%;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}

.artist-card {
	border-radius: rem-calc(10);
	background: #282828;
	position: relative;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&__play {
		width: 3rem;
		height: 3rem;
		background-color: $green-spoti-primary;
		border-radius: 50%;
		display: none;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0.5rem;
		bottom: 0.5rem;

		&-icon {
			font-size: 1.5rem;
			color: white;
			margin-right: -0.3rem;
			margin-top: -0.2rem;
		}
	}
	&:hover {
		.artist-card__play {
			display: flex;
			cursor: pointer;
		}
	}

	&__image {
		border-radius: 50%;

		width: 100%;
		&--large {
			height: 11rem;
		}
	}

	&__name {
		&-container {
			width: 100%;
		}
		color: white;
		font-size: 0.8rem;
		width: 9rem;
		text-transform: capitalize;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__follow {
		width: rem-calc(200);
		height: rem-calc(30);
	}

	&__type {
		@extend %description;
	}
	&__followers {
		@extend %description;

		&-span {
			color: $green-spoti-primary;
		}
	}
}
