.artist-card {
	margin: max(.5rem) 0;
	flex-basis: 19%;
	padding: 0.3rem;
	border-radius: 10px;
	min-height: 268.42px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to top, lighten(#000000, 6%), #3d3d3d);
	box-shadow: 6px 7px 21px 0px rgba(0, 0, 0, 0.75);
	border: 1px solid darken(gray, 41%);
	&:hover {
		cursor: pointer;
		opacity: 90%;
	}

	&__image {
		border-radius: 10px;
		width: 100%;
		flex: 1 1 70px;
	}

	&__name {
		align-self: flex-start;
		color: white;
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}

	&__follow {
		width: 200px;
		height: 30px;
	}

	&__type {
		align-self: flex-start;
		font-size: 0.8rem;
		margin: 0.3rem 0;
		color: white;
		text-transform: capitalize;
	}
	&__followers {
		font-size: 0.8rem;
		margin: 0.3rem 0;
		color: white;
		text-transform: capitalize;

		&-span {
			color: #1db954;
		}
	}
}
