@import 'assets/utils';
.new-releases {
	grid-row: 1 / 2;
	width: 100%;
	&__heading {
		text-align: start;
		text-transform: capitalize;
		color: white;
		font-size: rem-calc(24);
		font-weight: 600;
		line-height: 1rem;
	}
	&__grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(5, 19%);
		column-gap: 0.8rem;
	}
}
