.new-releases {
	&__heading {
		text-align: start;
		padding: 0 0 0 0.5rem;
		text-transform: capitalize;
		color: white;
		font-size: 1.6rem;
		letter-spacing: 0.3rem;
		font-weight: 600;
		line-height: 1rem;
	}
	&__grid {
		display: flex;
		justify-content: space-around;
	}
}
