@import 'assets/utils';
.new-releases {
	width: 100%;
	height: min-content;
	display: flex;
	flex-direction: column;
	height: 25rem;
	position: relative;
	&__heading {
		height: 15%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-title {
			text-transform: capitalize;
			color: white;
			font-size: rem-calc(24);
			font-weight: 600;
			line-height: 1rem;
		}
		&-countries {
			height: min-content;
			padding: 0.3rem 1rem;
			border-radius: 20px;
			color: white;
			background-color: darken(white, 40%);
			cursor: pointer;

			&:hover {
				background-color: darken($green-spoti-primary, 5%);
			}
		}
	}
	&__grid {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		height: 18rem;
	}
}
