@import 'assets/utils';
.input-search {
	flex-basis: 80%;
	position: relative;

	&__input {
		height: 2rem;
		width: 100%;
		padding: 0 2.5rem;
		border: none;
		border-radius: rem-calc(20);
	}

	&__glass {
		width: 1.4rem;
		position: absolute;
		top: 0.4rem;
		left: 0.5rem;
	}
}

.input-search--desktop {
	display: none;
	position: relative;
}

@media (min-width: 768px) {
	.input-search--desktop {
		flex-basis: 80%;
		align-content: end;
		display: initial;
	}
}

@media (min-width: 768px) {
	.wrapper-input {
		display: none;
	}
}

.error-search {
	width: 100%;
	position: absolute;
	color: white;
	margin-top: 0.5rem;
	padding: 0.5rem;
	background: lighten(#000000, 20%);
	border-radius: 5px;
}
