.artist-container {
	display: flex;
	flex-direction: column;

	&__input {
		height: 40px;
		border-radius: 5px;
		border: none;
		padding: 0 0 0 1rem;
	}

	&__search {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.artist__result {
	color: white;
	margin-top: 1rem;
}
