html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fade-in {
	animation-name: fadeIn;
}

.animated {
	-webkit-animation-duration: 1500ms;
	animation-duration: 1500ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fast {
	-webkit-animation-duration: 1500ms;
	animation-duration: 1500ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fade-in__button {
	animation-name: fadeIn;
}

.animated__button {
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
