@import 'assets/utils';
.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0a0a0a;
	&-login {
		border: 1px solid #282828;
		border-radius: rem-calc(5);
		padding: 4rem;
		background-color: #0a0a0a;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&__outside {
			margin-bottom: 1rem;
			color: white;
			padding: 0.5rem 1rem;
			border: none;
			border: 1px solid $green-spoti-primary;
			border-radius: rem-calc(20);
			background-color: $green-spoti-primary;
			text-align: center;
			text-decoration: none;

			&:hover {
				background-color: $green-spoti-secondary;
				border-color: $green-spoti-secondary;
			}
		}

		&__title {
			color: white;
			background-color: #0a0a0a;
			font-weight: 600;
			letter-spacing: rem-calc(2);
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 2rem;

			img {
				width: 3rem;
				height: 3rem;
			}
		}

		&__button {
			color: white;
			padding: 0.5rem 3rem;
			border: none;
			border: 1px solid $green-spoti-primary;
			border-radius: rem-calc(20);
			background-color: $green-spoti-primary;
			display: block;
			margin: 0 auto;

			&:hover {
				background-color: $green-spoti-secondary;
				border-color: $green-spoti-secondary;
			}
		}
	}
}
