.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&-login {
		border: 1px solid #0a0a0a;
		padding: 4rem;
		background-color: #0a0a0a;

		&__title {
			color: white;
			background-color: #0a0a0a;
			font-weight: 600;
			letter-spacing: 2px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 2rem;

			img {
				width: 3rem;
				height: 3rem;
			}
		}

		&__button {
			color: white;
			padding: 0.5rem 3rem;
			border: none;
			border: 1px solid #1db954;
			border-radius: 20px;
			background-color: #1db954;
			display: block;
			margin: 0 auto;

			&:hover {
				background-color: #5aba54;
				border-color: #5aba54;
			}
		}
	}
}
