@import 'assets/utils';
.nav {
	min-height: 100vh;
	display: flex;
	width: 100%;

	&__left {
		width: 15.2rem;
		flex-basis: 15%;
		background: #040404;
		padding: 1rem 0.6rem;
	}

	&__link {
		display: flex;
		align-items: center;
		border-radius: rem-calc(5);
		padding: 0.7rem 1rem;
		text-decoration: none;
		color: white;
		font-weight: 600;
	}

	.logo {
		height: 2.6rem;
	}
	&__link-active {
		background-color: #282828;
	}

	&__center {
		flex-basis: 85%;
		width: 100%;
		padding: 1rem 2rem 5.5rem 2rem;
		background: #121212;
	}
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

.title-container {
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-bottom: 0.2rem;
	&__title {
		color: white;
		font-size: 1.7rem;
	}
	&__logo {
		height: 2.6rem;
		margin-bottom: 0.5rem;
		margin-left: 0.3rem;
		margin-right: 0.5rem;
	}
}

.top-nav {
	display: flex;
	justify-content: space-between;
	height: 2rem;
	margin-bottom: 1rem;

	&--user-left {
		justify-content: flex-end;
	}
}

.user {
	background: #050505;
	border-radius: 20px;
	width: 8.5rem;
	padding: 0.2rem 1rem 0.2rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__image {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}

	&__name {
		color: white;
		font-size: 0.9rem;
	}

	&__logout {
		height: 2rem;
		border-radius: 20px;
		border: none;
		padding: 0 1rem;
		background: $green-spoti-primary;
		color: white;
		margin-left: 0.5rem;

		&:hover {
			background: lighten($green-spoti-primary, 10%);
			cursor: pointer;
		}
	}
}

.container-wrapper-user {
	display: flex;
}
