.nav {
	width: 100%;
	min-height: 100vh;
	display: flex;

	&__left {
		flex-basis: 17%;
		background-color: #040404;
		padding: 1rem 0.6rem;
	}

	&__link {
		display: flex;
		align-items: center;
		border-radius: 5px;
		padding: 0.7rem 1rem;
		text-decoration: none;
		color: white;
		font-weight: 600;
	}

	.logo {
		height: 2.6rem;
	}
	&__link-active {
		background-color: #282828;
	}

	&__center {
		flex-basis: 85%;
		padding: 1rem 1rem 5.5rem 1rem;
		background-color: #121212;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

.user {
	&__logout {
		border: none;
		border-radius: 20px;
		border: 1px solid #1db954;
		background-color: #1db954;
		margin-top: 1rem;
		padding: 0.5rem 2rem;
		color: white;

		&:hover {
			background-color: #5aba54;
			border-color: #5aba54;
			outline: none;
		}
	}
}

.title-container {
	display: flex;
	align-items: center;
	&__title {
		color: white;
	}
	&__logo {
		height: 2.6rem;
		margin-bottom: 0.5rem;
		margin-left: 0.3rem;
		margin-right: 1rem;
	}
}

.children {
	width: 100%;
}